<%= include_gon %>
<% content_for :js_new do%>
<%= javascript_import_module_tag "card" %>
<% end %>

<%= render "shared/second-header"%>

<div class='transaction-contents'>
<%= form_with  url: cards_path, id: 'charge-form', class: 'transaction-main',local: true do |f| %>
   <%# カード情報の入力 %>
    <div class='credit-card-form'>
      <h1 class='info-input-haedline'>
        クレジットカード情報入力
      </h1>
      <div class="form-group">
        <div class='form-text-wrap'>
          <label class="form-text">カード番号</label>
          <span class="indispensable">必須</span>
        </div>
        <div id="number-form" class="input-default"></div>
        <div class='available-card'>
          <%= image_tag 'card-visa.gif', class: 'card-logo'%>
          <%= image_tag 'card-mastercard.gif', class: 'card-logo'%>
          <%= image_tag 'card-jcb.gif', class: 'card-logo'%>
          <%= image_tag 'card-amex.gif', class: 'card-logo'%>
        </div>
      </div>
      <div class="form-group">
        <div class='form-text-wrap'>
          <label class="form-text">有効期限</label>
          <span class="indispensable">必須</span>
        </div>
        <div class='input-expiration-date-wrap'>
          <div id="expiry-form" class="input-default"></div>
        </div>
      </div>
      <div class="form-group">
        <div class='form-text-wrap'>
          <label class="form-text">セキュリティコード</label>
          <span class="indispensable">必須</span>
        </div>
        <div id="cvc-form" class="input-default"></div>
      </div>
    <%# /カード情報の入力 %>
      <div class='buy-btn'>
        <%= f.submit "登録する" ,class:"buy-red-btn" , id: "button" %>
      </div>
      <% end %>
    </div>
  </div>
</div>


  <%= render "shared/second-footer"%>
